/*es 1*/

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover {
    transition: background 2s;
    background: red;
}

/*es 2*/

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-2-square:active {
    transition: 4s;
    width: 400px;
    height: 100px;
    background: red;
}

/*es 3*/

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover {
    transition: 2s;
    border-radius: 50%;
}

/*es 4*/

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-4-square:hover {
    transition: 2s;
    opacity: 0;
}

/*es 5*/

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    transition: 2s;
    margin: 0px;
    width: 90px;
    height: 90px;
}

.ex-5-square:active {
    transition: 2s;
    margin: 40px;
    width: 30px;
    height: 30px;
}

/*es 6 7 8*/

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/*es 6*/

.ex-6-img:hover {
    filter: grayscale(1);
}

/*es 7*/

.ex-7-img:hover {
    transition: 2s;
    filter: grayscale(1) opacity(0.5);
}

/*es 8*/

.ex-8-img:hover {
    transition: 2s;
    filter: sepia(1) opacity(0.8);
    border-radius: 10px;
}


/*es 9*/

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover {
    transition: 2s;
    margin: 0px 0px;
    width: 500px;
    filter: invert(0.5);
    filter: opacity(0.2);
    border-radius: 10px;
}

/*es 10*/

.ex-10-icon {
    font-size: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

/*es 11*/

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: spin75 1s linear;
}

@keyframes spin75 {
    75% {
        transform: rotate(0.75turn);
    }
}

/*fine es 11*/

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

/*es 12*/

.ex-12-button:hover .ex-12-top-white {
    animation: movetop 1s linear;
}

@keyframes movetop {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: movebottom 1s linear;
}

@keyframes movebottom {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
}

/*fine es 12*/

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/*es 13*/

.ex-13-button:hover .ex-13-top-white {
    animation: movetopall 3s linear;
}
@keyframes movetopall {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: movebottomall 3s linear;
}
@keyframes movebottomall {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
}
